/* Tailwind custom animation classes */

  /* Circle class */
  .circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
    background-color: white; /* All circles will have the same blue color */
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation: circleAnimation 10s infinite;
  }

  .start {
    background-color:  #007c92;
  }

  .buttonstart {
    color:  #007c92;
    background-color: white;
  }

  .buttonstart:hover {
    background-color: #007c92;
    color: white;
    border: 2px solid white;
  }

  


  

 
  